@model FinalApplication.Models.AccountModel
@{
    ViewData["Title"] = "Homepage";

}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
   
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/line-icons.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/owl.theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/owl.carousel.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/magnific-popup.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/nivo-lightbox.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/animate.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/HomePage.css")" rel="stylesheet" type="text/css" />
</head>


<body>

    <!-- Header Area wrapper Starts -->
    <header id="header-wrap">
        <!-- Navbar Start -->
        <!-- Navbar End -->
        <!-- Hero Area Start -->
        <div id="hero-area" class="hero-area-bg">
            <div class="container">

                <div class="contents">
                    <h2 class="head-title">
                        Welcome to AGL
                    </h2>
                    <p class="p1">
                        We are proudly Australian since 1837, we believe in sustainable, secure and affordable energy.
                    </p>
                    <p class="p1">
                        AGL is a leading integrated essential service provider, with a proud 185-year history of innovation and a passionate belief in progress–human and technological.
                    </p>

                </div>



            </div>
        </div>

        <!-- Hero Area End -->

    </header>
    <!-- Header Area wrapper End -->
    <!-- About Section start -->
    <div class="about-area section-padding bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12 info">
                    <div class="about-wrapper wow fadeInLeft" data-wow-delay="0.3s">
                        <div>
                            <div class="site-heading">

                                <h2 class="section-title">About Us</h2>
                            </div>
                            <div class="content">
                                <p>
                                    AGL is a leading integrated essential service provider, with a proud 185-year history of innovation and a passionate belief in progress – human and technological.
                                    At AGL we have a passionate belief in progress – technological and human – and a relentless determination to make things better for you, our communities, the Australian economy, and our planet. Like you, we believe that the world is going through extraordinary challenges. We don’t shy away from the tough questions, we consider the answers carefully, and we take action to shape a better future for all.
                                    We’ve constantly evolved over 180 years.Today we bring all that know-how to transform how Australians produce, share and consume energy. We’re investing in new ideas, partnerships and infrastructure – renewing and expanding our portfolio of sources and products to make them more sustainable, reliable, affordable and useful.

                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight" data-wow-delay="0.3s">
                    <img class="img-fluid" src="@Url.Content("~/img/img-1.png")" />

                </div>
            </div>
        </div>
    </div>


    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
        <i class="lni-arrow-up"></i>
    </a>
   

    <!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">AGL</h5>
        <p>Prefer to talk? Contact hours will depend on your query.</p>
        <p>Check details in Help and support. 
           For life support or emergencies, call anytime.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">Useful Links</h5>

        <ul class="list-unstyled">
         <li>
            <p>
              <a href="#!">HOME</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">ABOUT</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">MANAGE EMPLOYEES</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">CONTACT US</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> Locked Bag 14120 MCMC, Melbourne, VIC 8001</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> info@example.com</p>
          </li>
          <li>
            <p>
              <i class="fa fa-mobile  mr-3"></i> Call +131 245</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> Call +613 8633 6000</p>
          </li>
        </ul>

      </div>
        </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

 
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="https://www.agl.com.au/">AGL</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <!-- Preloader -->
    <!-- End Preloader -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
